.App {
  text-align: center;
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;


}


.App-header {
  height: 60px;
  background-color: #61dafb;
  display: flex;
  justify-content: center;
  color: white;
}
.App-main {
  height: 100%;
  background-color: azure;
  flex: 1;
}

.App-footer {
  height: 80px;
  background-color: aquamarine;
}


